<div class="center jumbotron"></div>
	<h1>Sample App</h1>
	<h2>
		<p>
		  This is the home page for the
		  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
		  sample application.
		</p>
	</h2>
	<%= link_to "Sign up now!" , "#" ,class:"btn btn-lg btn-primary"%>
</div>
<%= link_to image_tag("rails.png",alt: "Rails logo"),
'http://rubyonrails.org/'%>
<%= link_to image_tag("kitten.jpg",alt:"Hi Kitty!")%>
<a class="btn btn-primary" href="#" role="button">Link</a>

<button class="btn btn-primary" type="submit">Button</button>

<input class="btn btn-primary" type="button" value="Input">

<input class="btn btn-primary" type="submit" value="Submit">

<input class="btn btn-primary" type="reset" value="Reset">

