<% provide(:title,'User Edit') %>
<% provide(:btn_title,'Save Chages') %>
<<h1>User Edit</h1>
<%= render 'layouts/form' %>
<%= image_tag @user.gravatar_url %>
<%= @user.name%>
 <a href="http://gravatar.com/emails" target="_blank" rel = "noopener" >change</a>
